<div class="container">
  <div class="row mb-5">
    お気に入りした投稿
  </div>
  <div class="row">
    <% @favorites.each do |favorite| %>
    <div class ="col-2 mb-3">
      <%= link_to album_path(favorite.album.id) do %>
      <div class="row">
        <%= image_tag favorite.album.image, size: '100x100' %>
      </div>
      <div class="row">
        <%= favorite.album.title %>
      </div>
      <div class="row">
        <%= favorite.album.created_at.strftime("%Y/%m/%d") %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>