<h1>工事中です</h1>
<h4>ここでは最寄りの保護施設の情報や<br>ユーザー様同士のペットの譲渡を支援する<br>ページになる予定です。</h4>
<h5>以下は動物愛護系のサイトです</h5>
<div class="row m-4">
<%= link_to "AWGsのサイト", "https://www.animaldonation.org/awgs/" %>
</div>
<div class="row m-4">
  <%= link_to "【豊田】動物愛護センター", "https://www.city.toyota.aichi.jp/shisetsu/shisetsusonota/aigocenter/index.html" %>
</div>