<div class="container">
  <div class="row justify-content-center text-center border" style="border-radius: 1000px; background-color: #EDE8DC; color: #EE66A6;">
    <div class="col">
      <h1 class="" style=""><i class="fa-solid fa-paw"></i>ようこそ！PetShareへ！<i class="fa-solid fa-paw"></i></h1>
      <p><strong>PetShare</strong>ではお互いのペットの自慢をしあったり<br>
         ペットの里親を募集したり<br>
         初めてペットを飼うときに必要な情報を仕入れる事ができます！</p>
         <%= link_to  entrance_path do %>
           <!--<= image_tag "/shimaenaga.png", size: '400x400',style: "border-radius: 200px;" %>-->
           <%= image_tag "/petshare.png" %>
           <h3><p style="color: green;"><i class="fa-solid fa-cat"></i>ご入場<i class="fa-solid fa-dog"></i></p></h3>
         <% end %>
    </div>
  </div>
</div> 