<div class="container">
  <div class="row">
    <%= link_to "ユーザー一覧",admin_users_path %>
  </div>
  <div class="row">
    <%= link_to "アルバム一覧", admin_albums_path %>
  </div>
    <div class="row">
    <%= link_to "グループ一覧", admin_groups_path %>
  </div>
    <div class="row">
    <%= link_to "カテゴリー一覧", admin_categories_path %>
  </div>
    <div class="row">
    一
  </div>
    <div class="row">
    色
  </div>
</div>