<div class="row">
  <div class="col-12">
    <%= image_tag category.get_category_image, size: "600x600" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>紹介</th>
        <th>飼いやすさ</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.introduction %></td>
        <td><%= category.difficulty %></td>
      </tr>
    </tbody>
  </table>
</div>