<div class="container">
  <div class="row">
    <div class="container col-3">
      <%= render "public/homes/sidebar" %>
    </div>
    <div class="container col-9">
      <h3>カテゴリーから検索する</h3>
      <div class="row col-12 justify-content-center">
        <ul class="nav nav-tabs" id="tags">
          <%= render "tags", categories: @categories %>
        </ul>
      </div>
    </div>
  </div>
</div>