<div class="container">
  <div class="row">
    <div class="container col-3">
      <%= render "public/homes/sidebar" %>
    </div>
    <div class="container col-9">
        <h3>カテゴリーから検索する</h3>
      <div class="row col-12">
        <div class="col" id="tags">
          <%= render "tags", categories: @categories %>
        </div>
      </div>
      <div class="row col-12">
        <div class="col" id="show">
        </div>
      </div>
    </div>
  </div>
</div>