<h1>退会させるわけないだろう？</h1>
<div class="container">
  <div class="row">
    <h2>本当に退会してしまいますか？</h2>
  </div>
  <div class="row">
    <h4>退会してしまいますと<br>
    ・アルバムの投稿<br>
    ・他ユーザーとの交流全般<br>
    ・個人情報とペット情報の編集<br>
    が行うことが出来なくなります。</h4>
  </div>
    <div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-3">
      <%= link_to "退会しない　", mypage_path, class: "btn btn-primary" %></div>
    <div class="col-3">
      <%= link_to "退会する　　", withdraw_path, class: "btn btn-danger", method: :patch,  data: { confilm: "本当に退会しますか？一度退会してしまうと管理者に連絡しない限りもとには戻せません。"} %></div>
    <div class="col-3"></div>
</div>
</div>