<footer class="bg-primary-subtle fixed-bottom p-2  bg-opacity-10">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col m-2">
      
       <p><i class="fa-solid fa-shield-cat"></i>感謝っ・・・・！圧倒的感謝っ・・・・！<i class="fa-solid fa-shield-dog"></i></p>
      </div>
    </div>
  </div>
</footer>