<footer class="bg-primary-subtle fixed-bottom p-2  bg-opacity-10">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col">
      
       <p><i class="fa-solid fa-shield-cat"></i>すべてのペットに祝福を・・・<i class="fa-solid fa-shield-dog"></i></p>
      <%= javascript_pack_tag "game" %>
      </div>
    </div>
  </div>
</footer>